.debug{
    background-color: rgba(95, 158, 160, 0.637);
}

header{
    li{
        margin: 0 30px;
        list-style: none;
        a{
            text-decoration: none;
        }
    }
}

.comic{
    img{
        width: 300px;
    }
}
